# Data Structures

In this LAB we will practice Tuples, Sets and Dictionary.  
If you need you can find an extra tutorial on the links below:
* Tuples [Python Tuples Examples and Methods ](https://www.w3schools.com/python/python_tuples.asp)
* Dictionaries [Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp)
* Sets [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp)

-----------------------------------

## Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [1]:
tup = ('I',)

In [2]:
tup

('I',)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [3]:
type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [4]:
minha_lista = list(tup)

In [5]:
minha_lista.extend("r""o""n""h""a""c""k")

In [6]:
tup = tuple(minha_lista)

In [7]:
tup

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [8]:
tup = tuple(minha_lista)

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [9]:
type(tup)

tuple

In [10]:
minha_tup_1 = list(tup)

In [11]:
tup

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [12]:
tup1 = (tup[0:4])

In [13]:
tup1 = tuple(tup1)

In [14]:
tup1

('I', 'r', 'o', 'n')

In [15]:
minha_tup_2 = list(tup)
tup2 = (minha_tup_2[-4:])
print(tup2)

['h', 'a', 'c', 'k']

In [16]:
tup2 = tuple(tup2)

In [17]:
print(tup1)
print(tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [18]:
tup3 = tup1 + tup2
tup3

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [19]:
type(tup3)

tuple

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`

In [20]:
len(tup1)

4

In [21]:
len(tup2)

4

In [22]:
count = len(tup1) + len(tup2)

In [23]:
count

8

In [24]:
len(tup3)

8

#### What is the index number of `"h"` in `tup3`?

In [25]:
tup3.index("h")

4

-----------------------------------

## Dictionaries

#### Now let's practice the dictionaries!  
We have this dictionary with itens to shopping in grocery.

In [26]:
grocery = {'bread':3, 'rice':2, 'cereals':4, 'eggs':12}

#### What are the `keys` of our grocery dictionary

In [27]:
grocery.keys()

dict_keys(['bread', 'rice', 'cereals', 'eggs'])

#### What are the `values` of our grocery dictionary

In [28]:
grocery.values()

dict_values([3, 2, 4, 12])

#### Get the value from the key `bread`

In [29]:
grocery['bread']

3

#### Now try to create a `new dictionary` based on the table below. The names are the keys and the phone number are the values.

| Name (keys) | Phone Number (values) |
| --- | --- | 
| Valentina | 803-5114  |
| Tyler | 805-5120  |
| Camila | 805-1278 |
| James | 805-3450 |

In [30]:
Name = ['Valentina', 'Tyler', 'Camila', 'James']
Phone_Number = ['803-5114', '805-5120, '805-1278', '8053450']

SyntaxError: invalid syntax (<ipython-input-30-06ca11bd0d30>, line 2)

In [ ]:
new_dictionary = {
            'Valentina': '803-5114',
            'Tyler':  '805-5120',
            'Camila': '805-1278',
            'James' : '805-3450'   
          }

In [ ]:
new_dictionary

#### `Add this new person` to your phone dictionary:   
Manoel | 803-8080

In [ ]:
new_dict = {'Manoel' : '803-8080'}

new_dictionary.update(new_dict)

In [ ]:
new_dictionary

#### Create a `list` with the phone numbers

In [ ]:
phone_numbers = []
phone_numbers = list(new_dictionary.values())
phone_numbers

###  Bonus dictionary

First thing you will practice is how to sort the keys in a dictionary. Unlike the list object, Python dictionary does not have a built-in sort method. You'll need to use FOR loops to to sort dictionaries either by key or by value.

The dictionary below is a summary of the word frequency of Ed Sheeran's song Shape of You. Each key is a word in the lyrics and the value is the number of times that word appears in the lyrics.

In [ ]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

In [ ]:
type(word_freq)

There are several ways to achieve that goal but many of the ways are beyond what we have covered so far in the course. There is one way that we'll describe employing what you have learned. Please feel free to use this way or any other way you want.

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

1. Sort the `keys` list.

1. Create an empty dictionary `word_freq2`.

1. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

Print out `word_freq2` to examine its keys and values. Your output should be:

```python
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}
```

In [ ]:
keys = list(word_freq.keys())
keys

In [ ]:
keys.sort()

In [ ]:
type(keys)

In [ ]:
word_freq2 = {key: word_freq[key] for key in keys}
word_freq2

-----------------------------------

## Sets

#### First, import the Python `random` library.

In [31]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [32]:
sample_list_1 = random.sample(range(1,100), k=80)
print(sample_list_1)

[98, 85, 69, 9, 42, 4, 95, 1, 28, 41, 79, 81, 23, 15, 40, 97, 3, 2, 84, 38, 36, 24, 16, 87, 47, 63, 72, 56, 17, 67, 59, 11, 65, 89, 46, 55, 21, 60, 54, 22, 57, 71, 20, 80, 66, 6, 78, 64, 70, 88, 68, 12, 92, 25, 5, 37, 31, 7, 39, 29, 99, 48, 8, 58, 27, 44, 90, 13, 18, 77, 83, 35, 32, 26, 86, 14, 19, 94, 53, 75]

In [34]:
sample_list_1.sort()
print(sample_list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 35, 36, 37, 38, 39, 40, 41, 42, 44, 46, 47, 48, 53, 54, 55, 56, 57, 58, 59, 60, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 75, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 95, 97, 98, 99]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [35]:
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [37]:
sample_list_2 = [random.randint(1, 99) for n in range(80)]
print(sample_list_2)

[13, 58, 52, 28, 34, 61, 28, 48, 15, 58, 99, 96, 92, 75, 26, 59, 49, 61, 70, 84, 11, 41, 44, 24, 28, 4, 22, 63, 85, 9, 83, 27, 77, 2, 15, 66, 38, 48, 26, 88, 1, 64, 44, 89, 51, 56, 79, 21, 26, 35, 40, 14, 3, 2, 77, 76, 81, 42, 36, 63, 35, 84, 40, 56, 71, 78, 81, 70, 83, 3, 98, 16, 2, 93, 93, 22, 19, 67, 4, 98]

In [39]:
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [52]:
set2 = set(sample_list_2)
print(set2)

{1, 2, 3, 4, 9, 11, 13, 14, 15, 16, 19, 21, 22, 24, 26, 27, 28, 34, 35, 36, 38, 40, 41, 42, 44, 48, 49, 51, 52, 56, 58, 59, 61, 63, 64, 66, 67, 70, 71, 75, 76, 77, 78, 79, 81, 83, 84, 85, 88, 89, 92, 93, 96, 98, 99}

In [41]:
len(set2)

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [53]:
set3 = set1.difference(set2)
print(set3)

{5, 6, 7, 8, 12, 17, 18, 20, 23, 25, 29, 31, 32, 37, 39, 46, 47, 53, 54, 55, 57, 60, 65, 68, 69, 72, 80, 86, 87, 90, 94, 95, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [55]:
set4 = set2.difference(set1)
print(set4)

{96, 34, 76, 49, 51, 52, 93, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [57]:
set5 = (set1.intersection(set2))
print(set5)

{1, 2, 3, 4, 9, 11, 13, 14, 15, 16, 19, 21, 22, 24, 26, 27, 28, 35, 36, 38, 40, 41, 42, 44, 48, 56, 58, 59, 63, 64, 66, 67, 70, 71, 75, 77, 78, 79, 81, 83, 84, 85, 88, 89, 92, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formular with Python code.

In [58]:
print(len(set1) == len(set3) + len(set5))
print(len(set2) == len(set4) + len(set5))

True
True

#### Create an empty set called `set6`.

In [60]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [61]:
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [62]:
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [64]:
print(f"Set 1 contém Set 2: {set2.issubset(set1)}")
print(f"Set 1 contém Set 3: {set3.issubset(set1)}")

Set 1 contém Set 2: False
Set 1 contém Set 3: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [65]:
MeuSet1 = set3.union(set4, set5)
MeuSet2 = set1.union(set2)
print(len(MeuSet1) == len(MeuSet2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [71]:
print([i for i in set1][:10])
set1.pop();
print([i for i in set1][:10])

[3, 4, 5, 6, 7, 8, 12, 13, 14, 15]
[4, 5, 6, 7, 8, 12, 13, 14, 15, 16]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81]
```

In [67]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81]

for i in list_to_remove:
    set1.discard(i)
    
print(set1)

{2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 32, 35, 36, 37, 38, 40, 42, 44, 46, 47, 48, 53, 54, 55, 56, 57, 58, 60, 63, 64, 65, 66, 67, 68, 70, 72, 75, 77, 78, 80, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 95, 97, 98, 99}